body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.place {
    overflow: auto;
}

.container {
    width: 600px;
    margin: 50px auto;
}

.progressbar {
    margin: 0;
    padding: 0;
    counter-reset: step;
}

.progressbar li:hover{
    cursor: pointer;
}

.progressbar li {
    list-style-type: none;
    width: 80px;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: green;
}

.progressbar li.active:before {
    border-color: #55b776;
}

.progressbar li.active+li:after {
    background-color: #55b776;
}

.progressbar li.selected {
    color: blue;
}

.progressbar li.selected:before {
    border-color: #5577b7;
}

/*.progressbar li.selected+li:after {
    background-color: #5577b7;
}*/

.bg-color-ui5 {
    /* background-color: #dfeaf5; */
    background-color: rgba(158, 212, 210, 0.1803921568627451) !important;
}

.shadow-ui5 {
    box-shadow: 0 0.125rem 0 0 #eff4f9, inset 0 -0.125rem 0 0 #d1e0ee !important;
}

.sap-button {
    background-color: #5496cd !important;
    border-color: #418ac7 !important;
}

.sap-body {
    background-color: #fafafa !important;
}